nav, ul{
	list-style: none;
	color: black;
}

nav, ul, li, a {color: black;}

.titulo {color: #424949;}

.acercaDeMi {color: #424949;}

.contenedor {background-color: #F2F4F4;}

.descripcion {font-size: 12px;}

#proyecto {
	font-size: 12px;
	border: solid 0.5px #AEB6BF ; 
	border-radius: 10px;
	margin-top: 4px;
}

#proyecto2 {

	border: solid 0.5px #AEB6BF ; 
	border-radius: 10px;
}

#imgAjolotech {
	width: 348px;
	height: 309px;
}

#imgPanini {

	width: 348px;
	height: 309px;
}

#img {
	width: 150px;
	height: 150px;
}

#img2 {
	width: 320px;
	height: 120px;
}

.btn {
	background-color: #1B2631;
	border: #1B2631;
}

#btnLetra {
	color: white;
}

footer {
	font-size: 12px;
}