body {
	margin: 0;
	padding: 0;
	background-color: black;
}

nav, ul{list-style: none;}

nav, ul, li, a {color: white;}

nav	{font-size: 15px;}

h1, h2,h3,h4,h5,h6 {font-family: 'Concert One', cursive; color: black; }

.contenedor {
	background-color: white; 
	border-radius: 17px;
}

.descripcion {font-size: 12px;}

#git {
	margin-top: 7px;
	width: 35px;
	height: 35px;
}

#gmail, #gitModal {
	width: 50px;
	height: 50px;
}

#ventana {background-color: rgba(248, 249, 249, 0.9);}

#ventanaModa {background-color: rgba(123, 125, 125 , 0.4);}

hr {width: 85%;}

#proyecto {
	font-size: 12px;
	border: solid 0.5px #AEB6BF ; 
	border-radius: 10px;
	margin-top: 4px;
}

#proyecto2 {border-left:  solid 0.5px #AEB6BF ; }

#proyecto3 { border-top:  solid 0.5px #AEB6BF ; }

#imgAjolotech {
	width: 348px;
	height: 309px;
}

#imgPanini {

	width: 348px;
	height: 309px;
}

#img {
	width: 150px;
	height: 150px;
}

#img2 {
	width: 320px;
	height: 120px;
}

.btn {
	background-color: black;
	border: black;
}

#btnLetra {color: white;}

footer {
	font-size: 12px;
	background-color: black;
}
